* {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3d3d3d;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
    transition: all 0.3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

  .typing-text {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    /* Usunięcie niepotrzebnego efektu płynnego */
    animation: blink 0.75s step-end infinite alternate;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .menu.active {
    opacity: 1;
    pointer-events: auto;
  }

  .bg-zoom {
    background-size: auto 120%;
    transition: all 0.3s ease-in-out;
  }
  
  .bg-zoom:hover {
    background-size: auto 100%;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
  
    z-index: 1;
  }

  .sidenav-button-active {
    --tw-shadow-color: #c4b5fd;
      --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      color: #fff!important;
      background-color: rgb(139 92 246);
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }